/*
* # Greed - 1.3.66
* https://bitbucket.org/slezkinia/greed/
*
* Copyright 2015 Gothicstein
* Released under the MIT license
* http://opensource.org/licenses/MIT
*
*/

/*Greed grid v1.3.66 beta*/

.grid {                                         /* Непосредственно сама сетка, при фиксированной ширине контента вставляется в какой-либо враппер */
    position: relative;                         /* Для более кастомного дробления можно добавлять .grid в .grid__item */
    padding: 0 0 0 4px;
    margin: 0 -14px 0 -10px;
    box-sizing: border-box;
    }
.grid__item {                                   /* Элемент сетки */
        margin: 0 0 0 -4px;
        padding: 0 10px;
        width: 100%;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        }
.grid._two {                                    /* Сетка на 2 колонки */

    }
    .grid._two > .grid__item {
        width: 50%;
        }
.grid._three {                                  /* Сетка на 3 колонки */

    }
    .grid._three > .grid__item {
        width: 33.33%;
        }
.grid._four {                                   /* Сетка на 4 колонки */

    }
    .grid._four > .grid__item {
        width: 25%;
        }
.grid._five {                                   /* Сетка на 5 колонок */

    }
    .grid._five > .grid__item {
        width: 20%;
        }
.grid._six {                                   /* Сетка на 6 колонок */

    }
    .grid._six > .grid__item {
        width: 16.66%;
        }
.grid._three._sidebar._right {                   /* Сетка на 3 колонки c правым сайдбаром шириной в одну колонку */

    }
    .grid._three._sidebar._right > .grid__item {
        width: 66.66%;
        }
    .grid._three._sidebar._right > .grid__item:nth-child(2n) {
        width: 33.33%;
        }
.grid._three._sidebar._left {                    /* Сетка на 3 колонки c левым сайдбаром шириной в одну колонку */

    }
    .grid._three._sidebar._left > .grid__item {
        width: 33.33%;
        }
    .grid._three._sidebar._left > .grid__item:nth-child(2n) {
        width: 66.66%;
        }
.grid._four._sidebar._right {                   /* Сетка на 4 колонки c правым сайдбаром шириной в одну колонку */

    }
    .grid._four._sidebar._right > .grid__item {
        width: 75%;
        }
    .grid._four._sidebar._right > .grid__item:nth-child(2n) {
        width: 25%;
        }
.grid._four._sidebar._left {                    /* Сетка на 4 колонки c левым сайдбаром шириной в одну колонку */

    }
    .grid._four._sidebar._left > .grid__item {
        width: 25%;
        }
    .grid._four._sidebar._left > .grid__item:nth-child(2n) {
        width: 75%;
        }
.grid._four._sidebar._double {                  /* Сетка на 4 колонки c двумя сайдбарами шириной в одну колонку */

    }
    .grid._four._sidebar._double > .grid__item {
        width: 50%;
        }
    .grid._four._sidebar._double > .grid__item:nth-child(3n+1) {
        width: 25%;
        }
    .grid._four._sidebar._double > .grid__item:nth-child(3n) {
        width: 25%;
        }
.grid._five._sidebar._right {                   /* Сетка на 5 колонок c правым сайдбаром шириной в одну колонку */

    }
    .grid._five._sidebar._right > .grid__item {
        width: 80%;
        }
    .grid._five._sidebar._right > .grid__item:nth-child(2n) {
        width: 20%;
        }
.grid._five._sidebar._left {                    /* Сетка на 5 колонок c левым сайдбаром шириной в одну колонку */

    }
    .grid._five._sidebar._left > .grid__item {
        width: 20%;
        }
    .grid._five._sidebar._left > .grid__item:nth-child(2n) {
        width: 80%;
        }
.grid._five._sidebar._double {                  /* Сетка на 5 колонок c двумя сайдбарами шириной в одну колонку */

    }
    .grid._five._sidebar._double > .grid__item {
        width: 60%;
        }
    .grid._five._sidebar._double > .grid__item:nth-child(3n+1) {
        width: 20%;
        }
    .grid._five._sidebar._double > .grid__item:nth-child(3n) {
        width: 20%;
        }
.grid._six._sidebar._right {                   /* Сетка на 6 колонок c правым сайдбаром шириной в одну колонку */

    }
    .grid._six._sidebar._right > .grid__item {
        width: 83.33%;
        }
    .grid._six._sidebar._right > .grid__item:nth-child(2n) {
        width: 16.66%;
        }
.grid._six._sidebar._left {                    /* Сетка на 6 колонок c левым сайдбаром шириной в одну колонку */

    }
    .grid._six._sidebar._left > .grid__item {
        width: 16.66%;
        }
    .grid._six._sidebar._left > .grid__item:nth-child(2n) {
        width: 83.33%;
        }
.grid._six._sidebar._double {                  /* Сетка на 6 колонок c двумя сайдбарами шириной в одну колонку */

    }
    .grid._six._sidebar._double > .grid__item {
        width: 66.66%;
        }
    .grid._six._sidebar._double > .grid__item:nth-child(3n+1) {
        width: 16.66%;
        }
    .grid._six._sidebar._double > .grid__item:nth-child(3n) {
        width: 16.66%;
        }

/*End of grid*/
